[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.vscode/
/Assets/Forst
/Assets/Starter Assets
/Assets/car.fbx
/Assets/downtwon2.fbx
/Assets/downtwon4.fbx
/Assets/grave_main.fbx
/Assets/phone.fbx
/Assets/skyscrapper.fbx
/Assets/Tree9/
/Assets/skybox/
/Assets/textures/
Assets/textures/*.png
Assets/textures/*.exr
Assets/*.fbx
Assets/player
Assets/ADG_Textures
Assets/ALP_Assets
Assets/AQUAS-Lite
Assets/textures/brown_leather_nor_gl_8k.exr